<h1> <%= @song.title %> </h1> 
    <br> 
    <p> Artist: <%= @song.artist_name %> </p> 
    <br> 
    <p> Genre: <%= @song.genre %> </p> 
    <br> 
    <p> Release Year: <% @song.release_year %> </p> 
    <br> 
    <%=link_to "Edit", edit_song_path(@song) %> 
    <br> 
    <%= link_to 'Delete', song_path(@song), method: :delete %>